// Fonts
$-f-nunito: 'Nunito Sans', sans-serif;

// Colors
$-c-dark-text: hsl(0, 0%, 100%);
$-c-dark-element: hsl(209, 23%, 22%);
$-c-dark-bg: hsl(207, 26%, 17%);
$-c-light-text: hsl(200, 15%, 8%);
$-c-light-input: hsl(0, 0%, 52%);
$-c-light-bg: hsl(0, 0%, 98%);
$-c-light-element: hsl(0, 0%, 100%);